layout {

    focus-ring {
        active-color   "#ccc8e7"
        inactive-color "#141315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ccc8e7"
        inactive-color "#141315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ccc8e7"
        inactive-color "#b0adcb"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ccc8e780"
    }
}

recent-windows {
    highlight {
        active-color "#ccc8e7"
        urgent-color "#ffb4ab"
    }
}
