layout {

    focus-ring {
        active-color   "#cacfee"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cacfee"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cacfee"
        inactive-color "#aeb4d2"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cacfee80"
    }
}

recent-windows {
    highlight {
        active-color "#cacfee"
        urgent-color "#ffb4ab"
    }
}
